<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <th:block th:replace="~{moduli/head :: head}"></th:block>
</head>

<body>
  
  <!-- HEADER -->
  <th:block th:replace="~{moduli/header :: header}"></th:block>

  <div class="vetrina-bg">
    
    <div th:if='${ruolo.equals("admin")}' class="new-author-container">
      <a href="/autoreForm">
        <button class="ghost-round">Nuovo Autore</button>
      </a>
    </div>
    
    <div class="content">
      <div class="cards-container">
        <a th:each="autore : ${autori}" th:href="@{'/autore/' + ${autore.id}}" class="card-link">
          <div class="card">
            <div class="card-image">
              <img th:src="@{'/' + ${autore.immagine}}" alt="Immagine autore" />
            </div>
            <div class="card-body">
              <h3 class="card-title" th:text="${autore.nome} + ' ' + ${autore.cognome}">Nome Autore</h3>
              <form th:if="${ruolo.equals('admin')}" th:action="@{'/eliminazioneAutore/' + ${autore.id}}" method="get" class="delete-form">
                <button type="submit" class="btn btn-danger btn-delete">Elimina</button>
              </form>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</body>

</html>
