<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Home</title>
  <th:block th:replace="~{moduli/head :: head}"></th:block>
</head>

<body>
  
  <!-- HEADER -->
  <th:block th:replace="~{moduli/header :: header}"></th:block>
  
  <div class="vetrina-bg">
    <div class="admin-fixed-bar" th:if='${ruolo.equals("admin")}'>
      <div class="admin-fixed-button">
        <a href="/libroForm">
          <button class="ghost-round admin-new-book-btn">Nuovo Libro</button>
        </a>
      </div>
    </div>
    
    <!-- Content Section -->
    <div class="content content-scroll">
      <div class="cards-container">
        <!-- Iterazione sui libri -->
        <a th:each="libro : ${libri}" th:href="@{'/libro/' + ${libro.id}}" class="card-link">
          <div class="card">
            <div class="card-image">
              <img th:src="@{'/' + ${libro.copertina}}" alt="Copertina libro" />
            </div>
            <div class="card-body">
              <h3 class="card-title" th:text="${libro.titolo}">Nome Libro</h3>
              <p class="card-desc" th:text="${libro.descrizione}">Descrizione breve del prodotto 1.</p>
              
              <!-- Form di eliminazione solo per admin -->
              <form th:if="${ruolo.equals('admin')}" th:action="@{'/eliminazioneLibro/' + ${libro.id}}" method="get" class="delete-form">
                <button type="submit" class="btn btn-danger btn-delete">Elimina</button>
              </form>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  
</body>

</html>
